body
{
background-color: #007179;
}
h2 {
width: 100%;
margin: 0;
padding: 0;
text-align: center;
color: white;
padding-top: 30px;
padding-bottom: 40px;
}
h2:after {
display: inline-block;
margin: 0 0 8px 20px;
height: 3px;
content: " ";
text-shadow: none;
background-color: white;
width: 140px;
}
h2:before {
display: inline-block;
margin: 0 20px 8px 0;
height: 3px;
content: " ";
text-shadow: none;
background-color: white;
width: 140px;
}
html {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}


ul.topnav {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
    width: 70%;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #3e8e41;}

ul.topnav li a.active {background-color: #333;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.table {
    margin: auto;
    width: 90%; 
}

thead {
    color: #FFFFFF;
}

tr{
    color:black;
}

.container
{
border: solid 1px white;
padding-top:10px;
padding-bottom:10px;

width:70%;
}

span{
    color:white;
    text-align: left;
}
h3{
    color:white;
}